
    <div style="text-align:center; padding-top: 25vh; line-height: 20vh">
        <p >Добро пожаловать на страницу управления компанией</p>
        <hr />
        <a asp-controller="Employes" asp-action="Index">Управление сотрудниками</a>
    </div>
